@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');   

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-style: normal;

}

header{
   /*  background-color: aqua; */
    width: 100%;
    height: 90px;
    max-height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
    border: #0a0909;
    box-shadow: 2px 2px 7px 1px rgb(142, 142, 142);
}

.logo{
    width: 170px;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    gap: 15px;

}

.logo h1{
    font-size: 40px;
    margin-bottom: 30px;
    color: #777777
    ;
}

.logo h3{
    color: #777777;
}

.abas img{
    margin-right: 30px;
    margin-top: 17px;
    width: 30px;
} 

header h3{
    font-size: 18px;
}


main{
    margin: 30px;
    padding: 40px;
    text-align: center;
}


img{
    max-width: 100%;
    display:block;
}

.banner1 div img{
    text-align: center;
}





footer {
    background-color: #333333;
    max-width: 100%;
    height: 35vh;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

footer .imgMapa{
    width: 250px;
    max-width: 100%;
    margin-left: 50px;
    margin-top: 35px;
}

footer .imgRedes{
    width: 30px;
}
footer .endereco{
    margin-right: 50px;
    margin-top: 35px;
}
footer .endereco div a{
    width: 500px;
}
.redes img {
    display: inline;
    margin: 8px;
    margin-right: 15px;
}
